streamlit
pandas
streamlit-quill
xhtml2pdf
fastapi
uvicorn
requests
matplotlib
ollama
faiss-cpu
langchain-text-splitters
beautifulsoup4
lxml
pypdf
langchain
langchain-community
python-multipart
gunicorn